<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188246839347-isnf48q9vdv7f9rr1brt0f766lbcialo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188246839347-isnf48q9vdv7f9rr1brt0f766lbcialo</string>
	<key>API_KEY</key>
	<string>AIzaSyAfmZiga8uJlK8LetdBZ6i5Ti1aJDQ5pdo</string>
	<key>GCM_SENDER_ID</key>
	<string>188246839347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Manlika.Masterpeace</string>
	<key>PROJECT_ID</key>
	<string>masterpeaceprj</string>
	<key>STORAGE_BUCKET</key>
	<string>masterpeaceprj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188246839347:ios:47d5abe05078bc68349346</string>
</dict>
</plist>